"""
Problem: {{NUMBER}} - {{TITLE}}
URL: {{URL}}
"""


class Solution:
    def {{FUNCTION_NAME}}(self, {{PARAMS}}):
        # 初回（{{DATE_1ST}}）
        # TODO: implement

        # 2回目（{{DATE_2ND}}）
        # TODO: implement
        pass


if __name__ == "__main__":
    sol = Solution()
    print(sol.{{EXAMPLE_CALL}})
